<style>
    .main-icon {
        background-image: url(../images/icon_active.png);
    }

    .mytab {
        color: white;
    }
</style>

<div class="container-fluid mt-5">
    <div class="row home-div">
        <div class="col-lg-5 img-container">
            <img src="../images/homepage_gif.gif" alt="">
        </div>
        <div class="col-lg-7 text-container justify-content-center">
            <div class="text-name">
                <h1><span class="web-span">Web </span><span class="frogs-span">Frogs</span></h1>
                <h2><span class="web-span">Все о мире </span><span class="frogs-span">лягушек и жаб</span></h2>
            </div>
            <div class="text-stack">
                <h3>Проект создан с помощью:</h3>
                <h4>ASP.NET Core 3.1 MVC</h4>
                <h4>Entity Framework Core, MSSQL</h4>
            </div>
        </div>
    </div>
</div>
