<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div>
        <div class="header">
            @await Html.PartialAsync("HeaderPartial")
        </div>



        <div class="main-container min-vh-100">
            @RenderBody()
        </div>



        <div class="footer">
            @await Html.PartialAsync("FooterPartial")
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
